/*Start Body*/
body {
   color: black; #244292e;
   font-family: Helvetica, Anerial, sans-serif;
   font-size: 16px;
   line-height: 1.5em;
   margin: 0;
   padding: 0;
}
/*End Body*/

/*Start Debug*/
.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}
/*End Debug*/